#loadingOverlay {
    width: 100%;
    height: 100%;
    position: fixed;
    z-index: 999;
    top:0;
    left:0;
    background: rgba(0,0,0,.5);
    display: flex;
    justify-content: center;
}

#loadingOverlay .spinner-grow {
    align-self: center;
}

#notification {
    position: fixed;
    top: 72px;
    left: 0;
    width : 100%;
    z-index: 998;
}